#dashboard {
  height: 100%;
  display: grid;
  background: rgb(242, 214, 255);
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  margin-left: 400px;
}

@media screen and (max-width: 768px) {
  .dashboard-right {
    margin-left: 80px;
  }
}

.dashboard-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 15px;
  margin-left: 1rem;
  overflow-x: hidden;
  width: 100%;
  padding: 1rem;
}

.list-card {
  background-color: #ebc3f0;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  color: #8328ba;
  font-size: 14px;

  box-shadow: rgba(215, 182, 227, 0.2) 2px 2px 18px -14px inset,
    rgba(168, 108, 190, 0.2) 0px -1px 2px, rgba(168, 108, 190, 0.2) 0 2px 4px,
    rgba(168, 108, 190, 0.2) 0 4px 0px, rgba(168, 108, 190, 0.2) 6px 3px 13px,
    rgba(168, 108, 190, 0.2) 0px -2px 17px 0px;
}

.profile-top {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

/* .edit-btn {
  margin: 25px;
  background: linear-gradient(
    90.11deg,
    rgba(200, 83, 219, 0.18) 32.29166567325592%,
    rgba(200, 83, 219, 0.1) 100%
  );
  border-radius: 25px;
  border-style: solid;
  border-color: #a654d8;
  border-width: 3px;
  width: 150px;
  height: 40px;
  position: relative;
  font: 600 16px "NotoSans-SemiBold", sans-serif;
  color: #a654d8;
}
.edit-btn:hover {
  scale: 110%;
  background-color: #8328ba;
  color: white;
} */

.profile-body {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 80%;
  margin-left: 1rem;
}

.body-label {
  display: flex;
  flex-direction: column;
}
.body-info {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
}
.text {
  text-decoration: underline;
  color: rgb(56, 54, 54);
}

a {
  text-decoration: none;
}
