body {
  font-family: "Quicksand", sans-serif;
}
#user {
  height: 100%;
  display: grid;
  background: rgb(242, 214, 255);
}
.user-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  margin-left: 400px;
}
@media screen and (max-width: 768px) {
  .user-right {
    margin-left: 80px;
  }
}
.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #e0d1ff;
  width: 70%;
  justify-content: center;
  margin-inline: auto;
  margin-block: 1rem;
}

input[type="text"] {
  border: none;
  font-size: 1rem;
  outline: none;
  width: 100%;
  color: #8328ba;
  background-color: transparent;
}

table {
  border-collapse: separate;
  margin: auto;
  width: 95%;
}
tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
tr:first-child th:first-child {
  border-bottom-left-radius: 10px;
}
tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
tr:first-child th:last-child {
  border-bottom-right-radius: 10px;
}
th,
td {
  padding-inline: 2rem;
  text-align: left;
}

td {
  padding-block: 0.5rem;
}

button {
  background-color: transparent;
  width: 60px;
  text-align: center;
  border-radius: 20px;
  padding-block: 5px;
  border-style: 0.5px solid;
  border-color: black;
}

button:hover {
  scale: 110%;
  border-style: none;
}




.user-pic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
