#homepage {
  height: 100%;
  display: grid;
  background: rgb(242, 214, 255);
  background: linear-gradient(
    180deg,
    rgba(242, 214, 255, 1) 23%,
    rgba(255, 253, 253, 0) 97%
  );
  /* grid-template-columns: 30% 70%; */
}
.homepage-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  margin-left: 400px;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #e0d1ff;
  width: 70%;
  justify-content: center;
  margin-inline: auto;
  margin-top: 3rem;
}

i.fas {
  padding: 5px;
  color: #8328ba;
}

input[type="text"] {
  border: none;
  font-size: 1rem;
  outline: none;
  width: 100%;
  color: #8328ba;
  background-color: transparent;
}

.user-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-name {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.user-profile {
  display: flex;
  gap: 40px;
  margin-left: 5rem;
  margin-block: 1.5rem;
}

.subtitle {
  color: #854ca9;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .homepage-right {
    margin-left: 90px;
  }

  .input-container {
    padding: 5px;
  }
  .user-img {
    width: 90px;
    height: 90px;
  }
  .user-name {
    font-size: small;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

button {
  background-color: transparent;
  width: 60px;
  text-align: center;
  border-radius: 20px;
  padding-block: 5px;
  border-style: 0.5px solid;
  border-color: black;
}
